<!-- Estructura visual de la página -->

<ion-content class="fondo" [fullscreen]="true">
  <div class="flex-center">
    <ion-card class="cardFormulario">
      <ion-card-header>
        <ion-card-title color="primary">Iniciar sesión</ion-card-title>
      </ion-card-header>
      
        <ion-input label="Email" class="inputFormulario" labelPlacement="floating" placeholder="Introduce un email" type="email" fill="outline"></ion-input>
        <ion-input label="Contraseña" class="inputFormulario" labelPlacement="floating" placeholder="Introduce una contraseña" type="password" fill="outline"></ion-input>

      <ion-button class="botonFormulario" expand="block"> Iniciar sesión </ion-button>
      <ion-button (click)="navegarRegistro()" class="botonFormulario" fill="clear" size="full">Crear cuenta</ion-button>
    </ion-card>
  </div>
</ion-content>