// CSS a nivel global de aplicación

/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

/**
 * Ionic Dark Mode
 * -----------------------------------------------------
 * For more info, please see:
 * https://ionicframework.com/docs/theming/dark-mode
 */

/* @import "@ionic/angular/css/palettes/dark.always.css"; */
/* @import "@ionic/angular/css/palettes/dark.class.css"; */
@import "@ionic/angular/css/palettes/dark.system.css";

// Centrar el contenido del elemento
.flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.cardFormulario {
    background: var(--ion-color-tertiary);
    padding: 2%;
    border-radius: 20px;
    width: 300px;
}

.inputFormularioNormal {
  background: var(--ion-color-tertiary);
  color: var(--ion-color-primary);
  margin-bottom: 10px;
  padding: 19px;
  border-radius: 3px;
  border: 0px;
  outline-width: 1px;
  outline-style: solid;
  outline-color: rgb(95, 95, 95);
  width: 100%;
  caret-color: var(--ion-color-primary);
}

.inputFormularioNormal:hover {
  outline-color: rgb(194, 194, 194);
}

.inputFormularioNormal::placeholder{
  color: var(--ion-color-primary-tint);
}

.inputFormularioNormal:focus{
  outline-width: 2px;
  outline-style: solid;
  outline-color: var(--ion-color-primary);
  outline-offset: -1px;
}

.inputFormulario {
  --background: var(--ion-color-tertiary);
  --color: var(--ion-color-primary);
  --placeholder-color: var(--ion-color-primary-shade);
  --placeholder-opacity: 0.8;
  margin-bottom: 10px;
  color-scheme: light;
}

.botonFormulario {
  margin-top: 10px;
  margin-bottom: 10px;
}

ion-input.ng-valid {
  --highlight-color-valid: var(--ion-color-primary); // para que no se ponga verde si es válido
  --highlight-color: var(--ion-color-medium); // color gris por defecto
}
