<ion-content [fullscreen]="true">
  <div class="flex-center">
    <ion-card class="cardFormulario">
      <!-- Header -->
      <ion-card-header>
        <ion-card-title color="primary">Crear cuenta</ion-card-title>
      </ion-card-header>
      
      <form [formGroup]="grupoFormRegistro">
        <!-- Campos formulario (se identifican los campos con ngModel) -->
        <input 
          formControlName="email" 
          class="inputFormularioNormal"
          labelPlacement="floating" 
          placeholder="Introduce un email" 
          type="email"
          mask="A*@A*.SSS" [validation]="true" [dropSpecialCharacters]="false"
          [ngClass]="{ 'inputNormalInvalido': grupoFormRegistro.get('email')?.touched && grupoFormRegistro.get('email')?.invalid }"/>
        
        <ion-input 
          formControlName="contrasena" 
          label="Contraseña" 
          class="inputFormulario" 
          labelPlacement="floating" 
          placeholder="Introduce una contraseña" 
          type="password" 
          fill="outline">
        </ion-input>
        
        <ion-input 
          formControlName="fechaNac" 
          label="Fecha de Nacimiento" 
          class="inputFormulario" 
          labelPlacement="floating" 
          placeholder="Introduce una fecha" 
          type="date" 
          fill="outline">
        </ion-input>
        
        <input 
          formControlName="telefono" 
          class="inputFormularioNormal" 
          labelPlacement="floating" 
          placeholder="Introduce un teléfono" 
          type="text" 
          mask="999 999 999"
          [ngClass]="{ 'inputNormalInvalido': grupoFormRegistro.get('telefono')?.touched && grupoFormRegistro.get('telefono')?.invalid }"/>
  
        <!-- Botones formulario -->
        <ion-button (click)="crearCuenta()" class="botonFormulario" expand="block"> Crear cuenta </ion-button>
        <ion-button (click)="navegarLogin()" class="botonFormulario" fill="clear" size="full">Ya tengo cuenta</ion-button>
      </form>
    </ion-card>
  </div>
</ion-content>
