<ion-content [fullscreen]="true">
  <div class="flex-center">
    <ion-card class="cardFormulario">
      <!-- Header -->
      <ion-card-header>
        <ion-card-title color="primary">{{ 'REGISTER.TITLE' | translate }}</ion-card-title>
      </ion-card-header>
      
      <form [formGroup]="grupoFormRegistro">
        <!-- Campos formulario (se identifican los campos con ngModel) -->
        <input 
          formControlName="email" 
          class="inputFormularioNormal"
          labelPlacement="floating" 
          placeholder="{{ 'REGISTER.EMAIL_PLACEHOLDER' | translate }}" 
          type="email"
          mask="A*@A*.SSS" [validation]="true" [dropSpecialCharacters]="false"
          [ngClass]="{ 'inputNormalInvalido': grupoFormRegistro.get('email')?.touched && grupoFormRegistro.get('email')?.invalid }"/>
        
        <ion-input 
          formControlName="contrasena" 
          label="{{ 'REGISTER.PASSWORD_LABEL' | translate }}" 
          class="inputFormulario" 
          labelPlacement="floating" 
          placeholder="{{ 'REGISTER.PASSWORD_PLACEHOLDER' | translate }}" 
          type="password" 
          fill="outline">
        </ion-input>
        
        <ion-input 
          formControlName="fechaNac" 
          label="{{ 'REGISTER.DATE_LABEL' | translate }}" 
          class="inputFormulario" 
          labelPlacement="floating" 
          placeholder="{{ 'REGISTER.DATE_PLACEHOLDER' | translate }}" 
          type="date" 
          fill="outline">
        </ion-input>
        
        <input 
          formControlName="telefono" 
          class="inputFormularioNormal" 
          labelPlacement="floating" 
          placeholder="{{ 'REGISTER.PHONE_PLACEHOLDER' | translate }}" 
          type="text" 
          mask="999 999 999"
          [ngClass]="{ 'inputNormalInvalido': grupoFormRegistro.get('telefono')?.touched && grupoFormRegistro.get('telefono')?.invalid }"/>
  
        <!-- Botones formulario -->
        <ion-button (click)="crearCuenta()" class="botonFormulario" expand="block">{{ 'REGISTER.BUTTON' | translate }}</ion-button>
        <ion-button (click)="navegarLogin()" class="botonFormulario" fill="clear" size="full">{{ 'REGISTER.CREATEACCOUNT' | translate }}</ion-button>
      </form>
    </ion-card>
  </div>
</ion-content>
